*{
    margin: 0px;
    padding: 0px;
}
.sertiz-background{

background: url("../image/sertiz-top-background.png") no-repeat;)
    color: white;

}
.content{
    padding-bottom:531px;
    padding-top: 334px;
    padding-left: 215px;
}
.yellow-text{
    color: rgba(241,173,29,1);
    font-family: ﻿Montserrat-Bold, ﻿MyriadPro-Regular, sans-serif;
}
.sertiz-slogan{
    display:inline-block;
    padding: 45px 30px;
    background-color: rgba(0,0,0,0.5);
    border: 1px  solid white;
}
.sertiz-top-title{
    font-size: 48px;
}
.margin-right{
    margin-right: 40px;
}